* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background: linear-gradient(135deg, #0a0f26 0%, #1f2a58 100%);
overflow: hidden;
}

/* header layout */

header {
position: absolute;
right: 0;
top: 0;
line-height: 1.5;
text-align: right;
margin: 40px;
}

h1 {
color: white;
font-family: 'Secular One';
font-weight: 400;
font-size: 60px;
letter-spacing: 9px;

}

p {
    color: #FFD029;
    font-family: 'Lora', serif;
    letter-spacing: 9px;
    font-size: 30px;
}

/* main layout */

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.solen {
cursor: pointer;
position: absolute;
width: 79.875rem;
height: 79.875rem;
left: -1160px;
top: -189px;

background: #FFD029;
box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2);
border-radius: 50%;
}

.Rectangle1 {
position: absolute;
width: 1210px;
height: 1353px;
left: -1210px;
top: -231px;
border-radius: 50%;

background: #C4C4C4;
}

/* planet layout */

.planets {
    pointer-events: auto;
    cursor: pointer;
}

.merkurius {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 203px;
  top: 443px;
  border-radius: 50%;

  background: #888888;
}

.venus {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 280px;
  top: 437px;
  border-radius: 50%;

  background: #e7cdcd;
}

.jorden {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 375px;
  top: 436px;
  border-radius: 50%;

  background: #428ed5;
}

.mars {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 473px;
  top: 443px;
  border-radius: 50%;

  background: #ef5f5f;
}

.jupiter {
  position: absolute;
  width: 188px;
  height: 188px;
  left: 576px;
  top: 356px;
  border-radius: 50%;

  background: #e29468;
}

.saturnus {
  position: absolute;
  width: 144px;
  height: 144px;
  left: 875px;
  top: 378px;
  border-radius: 50%;

  background: #c7aa72;
}

.saturnus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 250px; 
    height: 4px; 
    background: rgba(255, 255, 255, 0.7); 

    border-radius: 50% / 50%; 

    transform: translate(-50%, -50%) rotate(-30deg); 
    z-index: 1;
}

.uranus {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 1136px;
  top: 417px;
  border-radius: 50%;

  background: #c9d4f1;
}

.neptunus {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 1306px;
  top: 417px;
  border-radius: 50%;

  background: #7a91a7;
}


/* overlay stylingen */

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    line-height: 1.5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


    background: url("assets/stars.svg") center no-repeat,
    linear-gradient(135deg, #0a0f26 0%, #1f2a58 100%);
    z-index: 1;
}

.planet-details {
    max-width: 640px;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#planetName {
    color: white;
    letter-spacing: 3px;
    font-family: 'Secular One';
    text-transform: uppercase;
    font-size: 45px;
}

#planetTitle {
    color: #FFD029;
    font-size: 30px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    line-height: 1.5;
}

#planetInfo {
    display: flex;
    justify-self: space-between;
    border-bottom: 1px solid #1f2a58;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto';
}

#infoList {
    width: 100%;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3rem;
    border-bottom: 1px solid #1f2a58;
}


#planetCircumference {
    padding-top: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto'; 
}

#planetDistance {
    padding-top: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto'; 
}

#planetTempDay {
    padding-top: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto'; 
}

#planetTempNight {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto'; 
}

#planetMoons {
     padding-top: 2rem;
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
    font-family: 'Roboto'; 
}

.hidden {
    display: none;
}