* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background: linear-gradient(135deg, #0a0f26 0%, #1f2a58 100%);
overflow: hidden;
}

/* header layout */

header {
position: absolute;
right: 0;
top: 0;
line-height: 1.5;
text-align: right;
margin: 40px;
}

h1 {
color: white;
font-family: 'Secular One';
font-weight: 400;
font-size: 60px;
letter-spacing: 9px;

}

p {
    color: #FFD029;
    font-family: 'Lora', serif;
    letter-spacing: 9px;
    font-size: 30px;
}

/* main layout */

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.solen {
    width: 200px;
    cursor: pointer;
}


.planets {
    pointer-events: auto;
    cursor: pointer;
}


/* overlay stylingen */

.planet-details {
    display: flex;
    align-items: center;
    position: fixed;
    line-height: 1.5;
    background: linear-gradient(135deg, #0a0f26 0%, #1f2a58 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}


.planet-details form {
    width: 500px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(100%, 100%);
    display: flex;
    flex-direction: column;
}

form h1 {
    font-family: 'Secular One';
    text-transform: uppercase;
}

#planetTitle {
    color: #FFD029;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    font-size: 30px;
}

form p {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', serif;
    letter-spacing: 3px;
    line-height: 1.5;
}

.x {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    z-index: 1000;
    color: white;
    cursor: pointer;
}